//- includes/_header.jade
head
  title DS Graphics - Illustration und Kommunikationsdesign
  meta(charset="utf-8")
  meta(description="Konzeptionelle und grafische Gestaltung Ihrer Kommunikation- und Werbemittel. Design mit Konzept und Knowhow.")
  meta(keywords="illustration, webdesign, webentwicklung, wordpress, illustration, grafikdesign, Kommunikationsdesign, münster, kreuzviertel")
  meta(author="Daniel Sänger Graphics")
  meta(property="og:title", content="")
  meta(property="og:description", content="")
  meta(property="og:image", content="")
  meta(property="og:url", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="img/favicons/favicon.ico")
  link(rel="stylesheet", href="css/main.css")
  //link(rel="stylesheet", href="css/component.css")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
